.accessibility-menu-wrapper {
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 9999;
    height: 150px;
    display: flex;
    align-items: flex-end;
  }
  
  .accessibility-menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    border: none;
    outline: none;
    background: none;
  }
  
  .accessibility-menu-panel {
    position: absolute;
    right: -150px;
    top: 0;
    width: 150px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
    border-radius: 25px;
    left: 100px;
  }
  
  .accessibility-menu-panel.open {
    display: none;
  }
  
  .accessibility-menu-panel button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    background-color: #0077b3;
    border: none;
    cursor: pointer;
  }
  
  .accessibility-menu-panel button:hover {
    background-color: #0077b3;
  }
  
  .dark-mode {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .highlight-links a {
    background-color: #ffff00;
    color: #000;
  }