  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Varela+Round&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Varela Round', sans-serif;
  background-color: #fff;
}


a {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
ul {
  list-style-type: none;
}
/* button{
  border-radius: 5px;
  background-color: rgb(83, 83, 83);
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
} */
button i {
  margin-right: 5px;
}
.Heading{
  text-align: center;
  width: 60%;
  margin: auto;
}
.heading h1 {
  color: #2f3954;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 35px;
}
.heading p{
  color: #72809d;
}
textarea ,input{
  border: none;
  outline: none;
  background-color: none;
}
.background{
  padding: 80px;
  position: relative;
  background-color: #f7f9fc ;
}
.grid5{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 30px;
}
label{
  color: #2d3954;
  font-size: 14px;
}
.mtop{
  margin-top: 50px;
}
h4 {
  font-weight: 500;
  margin-top: 10px;
}
.shadow{
  box-shadow: 0 0 20px 0 rgb(112 121 128 /18%);
}
.padding {
  padding: 80px 0;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}
.btn2{
  border-radius: 50px;
  font-size: 20px;
}
.grid4 {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;
}
.btn4{
  background-color: #000;
  color: #fff;
}
.btn5{
  border-radius: 50px;
  margin-top: 25px;
  color:goldenrod;
  font-size: 20px;
  font-weight: 400;
  border: 5px solid rgba(200, 160, 58, 0.337);
  background: #fff;
  height: 75px;
  width: 250px;
}
.back {
  height: 40vh;
  position: relative;
  display: flex;
  align-items: center;
}
.back img {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.back .container{
  color: #fff;
  padding: 120px 0;
}

.back h1 {
  font-size: 40px;
  font-weight: 500;
}
.mb {
  margin-bottom: 80px;
}
/* @media(max-width:830px){
  body{
    width: 100%;
  }
  html{
    position: fixed;
  }
} */